* {
  box-sizing: border-box;
}

:root {
  --primary-color: #10375c;
  --secondary-color: #2e80ce;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* common */

.main-content {
  width: 1170px;
  max-width: calc(100% - 170px);
  margin: 0 auto;
}

.row {
  display: flex;
}

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

a.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 205px;
  height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

h1.title {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 80px; /* 114.286% */
  letter-spacing: -1.4px;
}

h2.title {
  color: #10375c;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 120% */
  letter-spacing: -1px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-3 {
  --line-clamp: 3;
}

.word-break-all {
  word-break: break-all;
}

/* header  */
header.header {
  padding: 30px 0 20px;
  background-color: var(--primary-color);
}

header.sticky {
  position: sticky;
  top: -10px;
  left: 0;
  z-index: 1;
}

header.header .container {
  display: flex;
  align-items: center;
}

header.header .logo {
  margin-right: 27%;
}

header.header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 42px;
}

header.header nav ul li {
  color: #c9d2da;
  font-weight: 300;
  line-height: 28px; /* 175% */
}

header.header nav ul li.active {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}

header.header nav ul li.active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: -13px;
}

header.header .account {
  margin-left: 20%;
  display: flex;
  align-items: center;
}

header.header .account .login {
  margin-right: 28px;
  color: #c9d2da;
  font-weight: 300;
  line-height: 28px; /* 175% */
  white-space: nowrap;
}

header.header .account a.btn {
  width: 104px;
  height: 44px;
  border-radius: 22px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 28px; /* 175% */
}

/* hero  */

.hero {
  padding: 56px 0 110px;
  background-color: var(--primary-color);
}

.hero .container {
  display: flex;
}

/* info  */
.hero .container .info {
  width: 54%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .info h1.title {
  width: 82%;
}

.hero .info p.desc {
  width: 74%;
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}

.hero .info .contact {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}

.hero .info .contact p.phone {
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

/* img-block  */
.hero .img-block {
  display: flex;
  align-items: center;
}

.hero .img-block .img-1 {
  position: relative;
  width: 330px;
  height: 540px;
  object-fit: cover;
  border-radius: 6px;
}

.hero .img-block .img-2 {
  width: 210px;
  height: 410px;
  object-fit: cover;
  border-radius: 6px;
  margin-left: -6px;
}

/* services  */

section.services {
  padding: 170px 0;
}

section.services h2.title {
  text-align: center;
}

section.services p.desc {
  width: 40%;
  margin: 0 auto;
  margin-top: 18px;
  text-align: center;
  color: #575f66;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}

section.services .container {
  margin-top: 70px;
  display: flex;
  gap: 130px;
}

.services figure img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

section.services .list-ser {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.services .list-ser .ser {
  padding: 21px;
  border-radius: 10px;
}

section.services .list-ser .ser:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

section.services .list-ser .ser:hover .icon {
  background-color: var(--secondary-color);
}

section.services .list-ser .ser:hover .icon svg {
  color: #fff;
}

section.services .list-ser .ser .icon svg {
  color: #10375c;
}

section.services .list-ser .ser .icon {
  margin-right: 19px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #eff6fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.services .list-ser .ser .intro {
  max-width: 75%;
}

section.services .list-ser .ser .intro p.title {
  color: #10375c;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

section.services .list-ser .ser .intro p.text {
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
}

section.services .list-ser a.btn {
  margin-top: 75px;
}

/* how it works  */

section.works {
  padding: 100px 0;
  background-color: #f6fbff;
}

section.works p.desc {
  margin-top: 18px;
  width: 40%;
  color: #575f66;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}

section.works .container {
  margin-top: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

section.works .container .box {
  position: relative;
  padding: 43px 42px;
  width: calc(33.33% - 20px);
  border: 16px solid #eaf6ff;
  border-radius: 4px;
}

section.works .container .box:hover {
  border-color: var(--secondary-color);
  top: -16px;
}

section.works .container .box:hover a {
  color: var(--secondary-color);
  font-weight: 400;
}

section.works .container .box p.title {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 138.462% */
}

section.works .container .box p.text {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
}

section.works .container .box a {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
}

/* feature  */

/* shine  */

.feature {
  padding: 170px 0;
}

.feature .shine {
  display: flex;
}

.feature .shine figure {
  position: relative;
  width: 49%;
  height: 491px;
  margin-right: 188px;
}

.feature .shine figure .img-1 {
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
  object-fit: cover;
}

.feature .shine figure .img-2 {
  position: absolute;
  left: 238px;
  top: 121px;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}

.feature .shine .info {
  max-width: 51%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature .shine .info p.desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}

.feature .shine .info a.btn {
  margin-top: 38px;
}

/* virtual dentist  */

.virtual-dentist {
  padding: 170px 0;
  text-align: center;
}

.virtual-dentist a.btn {
  margin-top: 38px;
}

.virtual-dentist .list-dentists {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.virtual-dentist .list-dentists .dentist {
  width: calc(25% - 22.5px);
}

.virtual-dentist .list-dentists .box {
  position: relative;
  width: 270px;
  height: 318px;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}

.virtual-dentist .list-dentists .dentist-1 .box img.avatar {
  position: absolute;
  top: -30px;
  left: -150px;
  width: 200%;
}

.virtual-dentist .list-dentists .dentist-2 .box img.avatar {
  position: absolute;
  top: 4px;
  left: -185px;
  width: 230%;
}

.virtual-dentist .list-dentists .dentist-3 .box img.avatar {
  position: absolute;
  top: -6px;
  left: -185px;
  width: 230%;
}

.virtual-dentist .list-dentists .dentist-4 .box img.avatar {
  position: absolute;
  top: 26px;
  left: -94px;
  width: 200%;
}

.virtual-dentist .list-dentists strong {
  display: block;
  margin-top: 12px;
  color: #10375c;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.virtual-dentist .list-dentists p.text {
  color: #575f66;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 26px; /* 185.714% */
}

.virtual-dentist .chevron {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.virtual-dentist .chevron-left,
.virtual-dentist .chevron-right {
  width: 36px;
  height: 36px;
  border: 1px solid #575f66;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #575f66;
}

.virtual-dentist .chevron-left:hover,
.virtual-dentist .chevron-right:hover {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: #fff;
}

/* app  */

.feature .app {
  padding: 76px 70px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  position: relative;
}

.feature .app figure {
  width: 43%;
}

.feature .app figure img {
  position: absolute;
  left: 70px;
  bottom: -0;
}

.feature .app .info {
  width: 57%;
}

.feature .app .info h2.title {
  width: 84%;
  color: #fff;
}

.feature .app .info p.desc {
  margin-top: 18px;
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}

.feature .app .info .download {
  margin-top: 38px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 28px;
}

/* news  */

.feature .news {
  padding: 170px 0;
}

.feature .news .container {
  display: flex;
}

/* info  */
.feature .news .info {
  width: 51%;
  display: flex;
  align-items: center;
}

.feature .news .info h2.title {
  width: 78%;
}

.feature .news .info p.all-blog {
  margin-top: 28px;
  color: #10375c;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /*155.556*/
}

.feature .news .info p.all-blog a {
  text-decoration-line: underline;
}

.feature .news .info .chevron {
  margin-top: 28px;
  display: flex;
  gap: 18px;
}

.feature .news .info .chevron .chevron-left,
.feature .news .info .chevron .chevron-right {
  width: 36px;
  height: 36px;
  border: 1px solid #575f66;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #575f66;
}
.feature .news .info .chevron .chevron-left:hover,
.feature .news .info .chevron .chevron-right:hover {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: #fff;
}

/* list-news  */

.feature .news .list-news {
  width: 49%;
  display: flex;
  gap: 30px;
}

.feature .news .list-news .new {
  width: calc(50% - 15px);
}

.feature .news .list-news .new:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.feature .news .list-news .new:hover .content {
  border-color: #fff;
}

.feature .news .list-news .new:hover .content p.learn-more {
  color: var(--secondary-color);
}

.feature .news .list-news figure {
  width: 100%;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
  overflow: hidden;
}

.feature .news .list-news figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature .news .list-news .content {
  padding: 18px 24px 21px 22px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  border-top: none;
}

.feature .news .list-news .content p.title {
  color: #10375c;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}

.feature .news .list-news .content p.text {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
}

.feature .news .list-news .content p.learn-more {
  margin-top: 12px;
  color: #10375c;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* contact  */

.feature section.contact {
  padding: 100px;
  background-color: #f6fbff;
  text-align: center;
}

.feature section.contact h2.title {
  position: relative;
  display: flex;
  justify-content: center;
}

.feature section.contact h2.title::before {
  position: absolute;
  bottom: -18px;
  display: block;
  content: "";
  width: 136px;
  height: 2px;
  background-color: var(--secondary-color);
}

.feature section.contact .info {
  width: 100%;
  display: flex;
  justify-content: center;
}

.feature section.contact p.desc {
  width: 53%;
  margin-top: 38px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
}

.feature section.contact a.btn {
  margin-top: 38px;
}

/* footer  */
.footer {
  padding: 100px 0 42px;
  background-color: var(--primary-color);
}

.footer .container {
  display: flex;
  gap: 78px;
  border-bottom: 1px solid #406181;
}

.footer .container .column ul {
  margin-bottom: 28px;
}

.footer .container .column ul li:first-child {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.footer .container .column ul li {
  margin-top: 10px;
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.footer .column-1 {
  width: 29%;
}
.footer .column-1 p.desc {
  margin-top: 21px;
  color: #a9b3bb;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.footer .column-2 {
  width: 12%;
}
.footer .column-3 {
  width: 12%;
}
.footer .column-4 {
  width: 28%;
}

.footer .column-4 ul:first-child li {
  display: flex;
  gap: 10px;
}

.footer .column-4 .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .column-4 .icon:hover {
  background-color: var(--secondary-color);
}
.footer .column-4 .icon:hover svg {
  color: #fff;
}

.footer .column-4 .icon svg {
  color: var(--secondary-color);
}

.footer .column-4 .subscribe {
  display: flex;
  gap: 12px;
}

.footer .column-4 .subscribe input {
  padding: 10px;
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
  background-color: var(--primary-color);
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.footer .column-4 .subscribe input::placeholder {
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.footer .column-4 .subscribe a.btn {
  width: 108px;
  height: 46px;
  border-radius: 4px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 185.714% */
}

p.copyright {
  margin-top: 28px;
  color: #aab3ba;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
